%h1 Welcome

%section.query
  .error
  = text_field_tag :query, nil, placeholder: 'Type in a movie name, bro.'
  = button_tag id: 'movie-button' do
    Click me!

%section.movies

%script#movie-template(type="text/x-handlebars-template")
  %section.movie
    %span.title {{ title }}
    %img(src="{{ posters.original }}")
 
  
