@import 'bourbon';
@import 'colors';

.spinner {
  width: 60px;
  height: 60px;
  background-color: $grayest;

  margin: 50% auto;
  @include animation(rotateplane 1.2s infinite ease-in-out);
}

@include keyframes(rotateplane) {
  0% { @include transform(perspective(120px)) }
  50% { @include transform(perspective(120px) rotateY(180deg)) }
  100% { @include transform(perspective(120px) rotateY(180deg)  rotateX(180deg)) }
}
