@import 'bourbon';
@import 'colors';

.spinner {
  width: 60px;
  background-color: $grayest;
  @include transition(all .4s ease);
  @include animation(rotateplane 1.2s infinite ease-in-out);
}

.spinner.show { opacity: 1; height: 60px; margin: 30px auto; }

@include keyframes(rotateplane) {
  0% { @include transform(perspective(120px)) }
  50% { @include transform(perspective(120px) rotateY(180deg)) }
  100% { @include transform(perspective(120px) rotateY(180deg)  rotateX(180deg)) }
}
