@import 'colors';
@import 'fonts';
@import 'bourbon';

html, body {
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
  background: $gray;
  color: $black;
  font-size: 22px;
  font-family: 'Source Sans Pro';
}

#main {
  max-width: 800px;
  margin: 0 auto;
}

button, input {
  padding: 15px 30px;
  font-size: inherit;
  margin: 5px;
}

button {
  color: $white;
  background: $red;
  border: 0;
  @include transition(all .3s ease);
}

input {
  flex: 1;
}
  
section {
  display: flex;
  box-sizing: border-box;
}

.movies {
  flex-wrap: wrap;
}

.movie {
  min-width: calc(33.3% - 15px);
  height: 150px;
  margin: 7.5px;
  flex: 1;
  padding: 30px;
  border: 1px solid $grayer;
  background: $white;
  align-items: center;
  opacity: .5;
  cursor: pointer;
  @include transition(all .2s ease);
}

.movie.active, .movie:hover { 
  opacity: 1; 
}

.movie span { margin-left: 15px; }

button:disabled { opacity: .5; background: $redish; cursor: no-drop;}
